
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
  background: linear-gradient(45deg, #FA8BFF, #2BD2FF, #2BFF88);
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  width: 1400px;
  color: rgb(166, 255, 0);
}


li {
  border-bottom: 1px solid #ccc;
  width: 200px;
  display: block;
  margin-bottom: 20px;
}

div{
  width: 500px;
  margin: auto;
}

ul {
  width: 200px;
  margin: auto;
}

button {
  margin-bottom: 10px;
}